@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e8eaf6;
  --foreground: #171717;
  --primary: #1e88e5;
  --primary2: #1976d2;
  --error: #f44336;
  --error2: #e53935;
  --warn: #ffeb3b;
  --warn2: #fdd835;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #e8eaf6;
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
